/*EXTREME*/
/* Background */
body { 
  background: -webkit-linear-gradient(top, #C02425 10%, #F0CB35 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(top, #C02425 10%, #F0CB35 90%); /* FF3.6+ */
  background: -ms-linear-gradient(top, #C02425 10%, #F0CB35 90%); /* IE10 */
  background:  -o-linear-gradient(top, #C02425 10%, #F0CB35 90%); /* Opera 11.10+ */
  background: linear-gradient(top, #C02425 10%, #F0CB35 90%); /* W3C */
}

/* Typography */
h1, h2 {
    font-family: 'Black Ops One', cursive;
}

h1 {
    font-size: 6em;
    text-align: center;
}

h2 {
    font-size: 2.5em;
}

p, li {
    font-family: 'Jura', sans-serif;
    font-size: 1.3em
}

/* Navigation */
li {
    display: inline-block;
    list-style: none;
}

a:link, a:visited {
    height: 32px;
    width: 120px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}