/* Background */
body { 
  background: -webkit-linear-gradient(top, #C02425 10%, #F0CB35 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(top, #C02425 10%, #F0CB35 90%); /* FF3.6+ */
  background: -ms-linear-gradient(top, #C02425 10%, #F0CB35 90%); /* IE10 */
  background:  -o-linear-gradient(top, #C02425 10%, #F0CB35 90%); /* Opera 11.10+ */
  background: linear-gradient(top, #C02425 10%, #F0CB35 90%); /* W3C */
        
}

/**/